.homeA{
  position: absolute;
  right: 0;
  z-index: 9;
  width: 100%;
}

.counters{
    position: relative;
    margin:20px auto ;
    justify-content: left;
    display: flex;
    flex-direction: row;
    
  }

    .line-counters{
      display:flex ;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }


  .teacher-count{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10%;
    margin-right: 5vw;
    width: 15vw;
    height: 15vw;
    font-weight: bold;
    font-size: 100%;
    color:#818181;
    
  }
  .c-label{
    position: relative;
    font-size: 2vw; 
    margin-bottom: 1vw ;
    top: 0%;
  }
  .n-label{
   font-size: 500%; 
  }
  .total-houre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 10%;
    margin-left: 5vw;
    width: 240px;
    height: 255px;
    font-weight: bold;
    font-size: 100%;
    color:#818181;
    
  }
  .labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vw auto;
  }
  .label-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 3vw;
    color: #3C4148;
  }
  .label-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#6e6e6e;
  }