.textSession {
    position: relative;
    cursor: pointer;
    font-size:125%;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(57, 57, 57);
    
}
.textSession:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(131, 130, 130);
}
.addDayPop{
    color: rgb(0, 62, 107);
    font-weight: bold;
}
.positionAdding{
    width:auto;
}