.details_card{
    position: relative;
    display: flex;
    justify-content: space-between;
   
    flex-direction: row;
    width: 98%;
    height: 50%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.photo{
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}