.session{
    position: relative;
    width: 88%;
    height: auto;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color:rgb(72, 72, 72);
    font-size: 1.6vw;
    
}
.addB{
    background-image: url('../assets/calendar_Add.png');
    
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    cursor: pointer;
    margin-top: 15px;
    border:10px;
    border-color: black;
    position:relative;
    background-size: cover;
    height: 2.5vw;
    width: 2.5vw;
    transition: all 0.2s ease;
}

.seesionHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}