/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=FontName:weight,style&display=swap');

body{
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}



.content{
  position: fixed;
  
  overflow-x: hidden;
  
  background-color: #ffc80000;
  margin-left: 13vw;
  top: 11.1vh;
  height: 180vh;
  width: 86vw;
  

}






.navbt:hover{
  margin-right:15px ;
}



.link{
  text-decoration: none;
}
.teacher{
  position: relative;
  display: flex;
  padding: 40px;
  margin: 1vw auto;
  height: 100pc;
  width: 80vw;
  
  background-color: #dedede;
}



.floating-button {
  position: fixed; /* Fixed positioning */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 50%; /* Circular shape */
  width: 50px; /* Width */
  height: 50px; /* Height */
  display: flex;
  justify-content: center; /* Center icon */
  align-items: center; /* Center icon */
  font-size: 24px; /* Icon size */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

/* Hover effect */
.floating-button:hover {
  background-color: #0056b3; /* Darker shade of blue */
}


