body{
  background-color: rgb(232, 232, 232);
}

.container1{
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 13vw;
  min-width: 13vw;
  padding: 0px;
  margin: -8px;
  background: linear-gradient(to top, #3C4148 5%, #2A436A 50%) no-repeat;
}
.container2{
  position: fixed;
  display: flex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  padding:0 auto;
  margin-left: 12.5vw;
  
  top: 0;
  height: 10vh;
  width: 87vw;
  background-color: rgb(255, 255, 255);
}
.content{
  position: fixed;
  height: 50px;
  
  margin-left: 13vw;
  top: 11vh;
  height: 88.5vh;
  width: 86vw;
  
}
.logo{
  position: absolute;
  
  
  height: 110px;
  width: 110px;
  left: 5px;
  
  background-color: rgba(240, 248, 255, 0);
  
  
  background-image: url('tamplate/assets/ESI_logo.png');
  background-size: cover;
  
}
.logo-container{
  justify-content: center;
  position: relative;
  padding: 0;
  margin-top: 40px;
  margin-left: 50px;
  height: 120px;
  width: 120px;
  
  background-color: aliceblue;
 
  border-radius: 100px;
  
  
}

.buttons-container{
  justify-content: space-evenly;
  position: relative;
  padding: 0;
  left: 50px;
  margin-top: 100px;
  margin-left: -20px;
}


.sideb{
  display:flex;
  position: relative;
  align-items: center;
  justify-content: start;
  
  background-color: #007bff00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
 }
 .sideb:hover{
 
  justify-content: center;
  border: none; /* Remove default button border */
  border-bottom: 2px solid #f3f3f3; 
  width: 150px;
 }

.sideabout{
  display:flex;
  position: absolute;
  align-items: center;
  justify-content: center;
 bottom: -19vh;
  background-color: #007bff00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }
 .btic1{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/agreement.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
 }
 .btic2{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/teaching.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
  
 }
 .btic3{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/calendar.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
 }
 .btic4{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/diagram.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
 }
 .btic5{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/profile.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
 }
 .btic6{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/settings.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
 }
 .btic7{
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('tamplate/assets/group.png');
  background-size: cover;
  width: 40px; 
  height: 40px;
 }
.bttx{
  font-weight: bold;
}

.text{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #818181;
  font-weight: bold;
 
}
.navbt{
  background-image: url('tamplate/assets/arrow.png');
  right: 5px;
  margin: 10px;
  cursor: pointer;
  margin-top: 15px;
  border: none;
  background-color: #ffffff00;
  position:absolute;
  background-size: cover;
  height: 40px;
  width: 40px;
  transition: background-color 1s ease;
}
.navbt:hover{
  margin-right:15px ;
}